<%- include('./partials/header.ejs') %>
<h1>Here you can give evening reports!</h1>
<p>Logged in as: <%= email%></p>
<form method="POST" action="/behavior/reporting/evening">
  <fieldset>
    <label for="day">Date:</label>
    <input type="date" id="day" name="date" value="<%= d %>"/><br>
    <label for="s_e">Time on sports and exercising:</label>
    <input type="number" id=s_e name="s_e" step=".1"/><br>
    <label for="study">Time spent studying:</label>
    <input type="number" step=".1" id="study" name="study"/><br>
    <label for="eat">Reqularity and quality of eating:</label>
    <input type="range" min="1" max="5" value="3" id="eat" name="eat"/><br>
    <label for="mood">Generic mood:</label>
    <input type="range" min="1" max="5" value="3" id="mood" name="mood"/><br>
    <input type="submit" value="Submit"/>
  </fieldset> 
</form>
<br>
<form method="POST" action="/auth/logout">
  <input type="submit" value="Logout"/>
</form>
<br>
<a href="/behavior/reporting">Go Back</a>
<%- include('./partials/footer.ejs') %>