<%- include('./partials/header.ejs') %> 

<h1>Welcome!</h1>
<!--login form-->
<h2>Login</h2>
<form method="POST">
    <fieldset>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email"/>
        <label for="pw">Password: </label>
        <input type="password" id="pw" name="password"/>
        <input type="submit" value="Login!"/>
    </fieldset>
</form>



<!--link to registration form-->

<h4>Don't have account yet?</h4>
<a href="/auth/registration">Register here!</a>

<%- include('./partials/footer.ejs') %>