<%- include('./partials/header.ejs') %>
<h1>Welcome!</h1>

<h2>Register below:</h2>

<form method="POST">
    <fieldset>
        <label for="un">Username: </label>
        <input type="text" id="un" name="username"/>
        <label for="pw">Password: </label>
        <input type="password" id="pw" name="password"/>
        <label for="pw2">Password again: </label>
        <input type="password" id="pw2" name="verification"/>
        <input type="submit" value="Login!"/>
    </fieldset>
</form>

<h4>Already have an account?</h4>
<a href="/auth/login">Login here!</a>
<%- include('./partials/footer.ejs') %>