<%- include("./partials/header.ejs") %>
<h1>Welcome!</h1>
<h4>Give morning reports here:</h4>
<a href="/behavior/reporting/morning">Morning report</a>
<h4>Give evening reports here:</h4>
<a href="/behavior/reporting/evening">Evening report</a>
<%- include("./partials/footer.ejs") %> 